// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

ul li {
  list-style-type: none;
  margin-right: 20px;
}

ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}

.footer {
  display: flex;
  justify-content: center;
}

.links {
  color: black;
  opacity: 0.7;
  text-decoration: none;
  padding: 10px;
}

.links:hover {
  opacity: 0.9;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 100px;
  width: 425px;
  margin-right: 50px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  background-size: cover;
}

.card-trip h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 25px;
  font-family: 'Roboto', sans-serif;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


.card-trip .card-trip-infos {
  padding: 8px 16px 16px 16px;;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip-infos p{
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 200px;
  margin-top: 100px;
}

.footer {
  margin-bottom: 10px;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
}

.header h1 {
  font-size: 75px;
  text-shadow: 100 100 #ff0000;
  text-shadow: 10 10 black;
}

.header {
  font-size: 10px;
  text-align: center;
}

.card-container {
  padding: 0px 30px 10px 30px;
}

.all-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.to-flex {
  display: flex;
  flex-direction: column;
}

.header .flat_count {
  display: flex;
  justify-content: flex-end;
  text-shadow: 0 0 15px rgba(0,0,0,0.2);
}

body {
  background-color: rgba(211, 211, 211, 0.041);
  margin: 0;
}

.bold {
  font-weight: bold;
}

.footer-main {
  height: 100px;
  background-color: black;
}

.footer-main {
  display: flex;
  justify-content: center;
  align-items: center;

  ul li a{
  text-decoration: none;
  color: white;
  }


  .footer-link{
  opacity: 0.5;

    &:hover{
      opacity: 1;
    }
  }
}
